src/main/resources/wsdl/CitiesService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://christophburmeister.eu/playground/springboot/gen" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://christophburmeister.eu/playground/springboot/gen" targetNamespace="http://christophburmeister.eu/playground/springboot/gen">
  <wsdl:types>
    <xs:schema xmlns:playground="http://christophburmeister.eu/playground/springboot/gen" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://christophburmeister.eu/playground/springboot/gen">

    <xs:element name="getCityByCodeServiceRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="code" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getCityByCodeServiceResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="city" type="playground:City"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="City">
        <xs:sequence>
            <xs:element name="code" type="xs:int"/> 
            <xs:element name="name" type="xs:string"/>
            <xs:element name="population" type="xs:int"/>
            <xs:element name="founded" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    
</xs:schema>

  </wsdl:types>
  
  <wsdl:message name="getCityByCodeServiceRequest">
    <wsdl:part element="tns:getCityByCodeServiceRequest" name="getCityByCodeServiceRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCityByCodeServiceResponse">
    <wsdl:part element="tns:getCityByCodeServiceResponse" name="getCityByCodeServiceResponse">
    </wsdl:part>
  </wsdl:message>
  
  <wsdl:portType name="CitiesPort">
    <wsdl:operation name="getCityByCodeService">
      <wsdl:input message="tns:getCityByCodeServiceRequest" name="getCityByCodeServiceRequest">
    </wsdl:input>
      <wsdl:output message="tns:getCityByCodeServiceResponse" name="getCityByCodeServiceResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="CitiesPortSoap11" type="tns:CitiesPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getCityByCodeService">
      <soap:operation soapAction=""/>
      <wsdl:input name="getCityByCodeServiceRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getCityByCodeServiceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="CitiesPortService">
    <wsdl:port binding="tns:CitiesPortSoap11" name="CitiesPortSoap11">
      <soap:address location="http://localhost:9000/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>