src/main/resources/wsdl/cities.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://christophburmeister.eu/playground/schema/cities" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://christophburmeister.eu/playground/schema/cities/" targetNamespace="http://christophburmeister.eu/playground/schema/cities/">
  <wsdl:types>
    <xs:schema xmlns:playground="http://christophburmeister.eu/playground/schema/cities" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://christophburmeister.eu/playground/schema/cities">

	<xs:complexType name="City">
		<xs:sequence>
			<xs:element name="country" type="xs:string"/>
			<xs:element name="code" type="xs:int"/>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="population" type="xs:int"/>
			<xs:element name="founded" type="xs:int"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="getCityByCodeRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="code" type="xs:int"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="getCityByCodeResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="city" type="playground:City"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="getCountryByCityNameRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="cityName" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="getCountryByCityNameResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="country" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element> 	

</xs:schema>
  </wsdl:types>
  <wsdl:message name="getCountryByCityNameRequest">
    <wsdl:part element="sch:getCountryByCityNameRequest" name="getCountryByCityNameRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCountryByCityNameResponse">
    <wsdl:part element="sch:getCountryByCityNameResponse" name="getCountryByCityNameResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCityByCodeResponse">
    <wsdl:part element="sch:getCityByCodeResponse" name="getCityByCodeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCityByCodeRequest">
    <wsdl:part element="sch:getCityByCodeRequest" name="getCityByCodeRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Cities">
    <wsdl:operation name="getCountryByCityName">
      <wsdl:input message="tns:getCountryByCityNameRequest" name="getCountryByCityNameRequest">
    </wsdl:input>
      <wsdl:output message="tns:getCountryByCityNameResponse" name="getCountryByCityNameResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCityByCode">
      <wsdl:input message="tns:getCityByCodeRequest" name="getCityByCodeRequest">
    </wsdl:input>
      <wsdl:output message="tns:getCityByCodeResponse" name="getCityByCodeResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CitiesSoap11" type="tns:Cities">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getCountryByCityName">
      <soap:operation soapAction=""/>
      <wsdl:input name="getCountryByCityNameRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getCountryByCityNameResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCityByCode">
      <soap:operation soapAction=""/>
      <wsdl:input name="getCityByCodeRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getCityByCodeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CitiesService">
    <wsdl:port binding="tns:CitiesSoap11" name="CitiesSoap11">
      <soap:address location="/cities"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>